$blue :#2B2D42;
$light-blue :#8D99AE;
$light-gray:#EDF2F4;
$light-red :#f0354b;
$red :#D90429;

*{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
}

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    .nav{
        background-color: black;

        .puma-logo{
            width: 6rem;
            margin: 0.5rem 1rem;
        }
    }
    .flex{
        display: flex;
        .Sidebar{
            margin-left: 0.5rem;
            ul{
                display: flex;
                flex-direction: column;
                padding: 0;

                .Side-Item{
                    padding: 0.8rem 1rem;
                    list-style: none;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                    background-color: $light-gray;
                    
                }
                .Side-Search{
                    border: none;
                    -webkit-appearance: none;
                }
                .Category-List{
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    transition: all 2s;
                    opacity: 1;
                    background-color: $light-gray;
                }
                .CurrentCategory{
                    padding: 0.8rem 1.5rem;
                    list-style: none;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                    background-color: $light-blue;
                }
                .hidden{
                    display: none;
                    opacity: 0;
                }
            }
        }
        // 
        .content{
            margin: 0 auto;
            margin-left: 10px;
            .Banner{
                text-align: center;
                width: 100%;
                height: 45%;
                overflow: hidden;
                margin: 0 auto;
                .Banner-img__container{
                    white-space: nowrap;
                    .Banner-img{
                        width: 100%;
                        min-height: 90px;  
                        display: inline-block;
                    }
                }
            }
            .main{
                display: grid;
                grid-template-columns: repeat(3, 0.5fr);
                gap: 15px;
                justify-items: center;
                margin-top: 10px;
                .item-container{
                    text-align: center;
                    h1{
                        margin: 0 auto;
                        font-weight: 200;
                        width: 80px;
                    }
                    img{
                    width: 150px;
                    height: 150px;
                    }
                }
            }
        }
    }

    .itemDetail{
        border: 1px solid red;
        width: 70vw;
        margin: 10px auto;
        .itemPrimaryInfoContainer{
            display: flex;
            .imageContainer{
                //margin: 0 auto;
                display: flex;
                border: 1px solid red;
                flex-direction: column;
                width: fit-content;
                justify-content: center;
                align-items: center;
                .image-Show-Thumb{
                    width: 35vw;
                    min-width: 200px;
                    border: 1px solid red;
                }
                .image-Collection{
                    min-width: 200px;
                    height: fit-content;
                    border: 1px solid rgb(173, 76, 76);
                    display: grid;
                    grid-template-columns: repeat(3,30%);
                    justify-content: space-around;
                    .imageShow-Secondary{
                        align-self: center;
                        justify-self: center;
                        border: 1px solid red;
                        width: 10vw;
                        min-width: 50px;
                    }
                }
            }
            .productInfoContainer{
                border: 1px solid blue;
                height: fit-content;
                margin: 0 0 0 1.5rem;
                max-width: 350px;
                text-align: justify;
                .productInfo-title{
                    font-size: 25px;
                    font-weight: 900;
                    border: 1px solid blue;

                }
                .productInfo-price{
                    font-weight: 800;
                    font-size: 18px;
                }
                .productInfo-purchaseOptions{
                    display: flex;
                    justify-content: space-evenly;
                    select{
                        height: 2.5rem;
                        border: none;
                        border-radius: none;
                        option{
                            background-color: $light-gray;
                            font-size: 14px;
                        }
                        &::after {
                            option{
                            border: 1px solid red;

                            }
                        }
                    }
                }
            }
            .productInfoContainer-mobile{
                display: none;
            }
        }
    }
}

@media (max-width: 680px) {
    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        .nav{
            text-align: center;
            background-color: black;
            .puma-logo{
                padding: 10px;
                height: 50px;
                width: 50px;
            }
        }
        .flex{
            display: block;
            .Sidebar{
                margin: 0;
                ul{
                    .Side-Item{  
                        border: none;
                        border-bottom: 1px solid $blue;
                        text-align: center;
                        &:last-child{
                            border: none;
                        }
                        &:hover,
                        &:active{
                            transition: all 0.5s;
                            background-color: $light-blue;
                        }
                    }
                    .Category-List{
                        a{
                            border: none;
                            &:last-child{
                                border-bottom: 1px solid $blue;

                            }
                        }
                    }
                }
            }
            .content{
                margin: 0 auto;
                .main{
                    display: grid;
                    grid-template-columns: repeat(2, minmax(130px, 0.3fr));
                    justify-content: center;
                    gap: 5px;
                    margin: 0 auto;
                    .item-container{
                        text-align: center;
                        margin: 10px 0;
                        h1{
                            margin: 0 auto;
                            font-weight: 200;
                            font-size: xx-small;
                            width: 80px;
                        }
                        img{
                        width: 5vw;
                        height: 5vw;
                        min-width: 100px;
                        min-height: 100px;
                        }
                    }
                }
            }
        }
        .itemDetail{
            border: 1px solid blue;
            width: 85vw;
            margin: 0 auto;
            .itemPrimaryInfoContainer{
                display: block;
                .imageContainer{
                    margin: 0 auto;
                    display: flex;
                    border: 1px solid blue;
                    flex-direction: column;
                    width: fit-content;
                    justify-content: center;
                    align-items: center;
                    .image-Show-Thumb{
                        width: 35vw;
                        min-width: 200px;
                        border: 1px solid blue;
                    }
                    .image-Collection{
                        min-width: 200px;
                        height: fit-content;
                        border: 1px solid rgb(173, 76, 76);
                        display: grid;
                        grid-template-columns: repeat(3,30%);
                        justify-content: space-evenly;
                        .imageShow-Secondary{
                            align-self: center;
                            justify-self: center;
                            border: 1px solid blue;
                            width: 10vw;
                            min-width: 50px;
                        }
                    }
                }
                .productInfoContainer-mobile{
                    display: block;
                    border: 1px solid red;
                    height: fit-content;
                    margin-right: 0;
                    margin-left: auto;
                }
                .productInfoContainer{
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 750px) {
    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
}
@media (min-width: 1000px) {
    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
}
