$blue :#2B2D42;
$light-blue :#8D99AE;
$light-gray:#EDF2F4;
$light-red :#f0354b;
$red :#D90429;

*{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
}

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    .nav{
        background-color: #2B2D42;
        .puma-logo{
            width: 8rem;
        }
    }
    .flex{
        display: flex;
    }
    .Sidebar{
        margin-left: 0.5rem;
        ul{
            display: flex;
            flex-direction: column;
            padding: 0;

            .Side-Item{
                padding: 0.8rem 1rem;
                border: 1px solid goldenrod;
                list-style: none;
                text-decoration: none;
                color: black;
                cursor: pointer;
            }
            .Category-List{
                padding: 0;
                display: flex;
                flex-direction: column;
                transition: all 2s;
                opacity: 1;
                background-color: $light-gray;
            }
            .CurrentCategory{
                padding: 0.8rem 1.5rem;
                border: 1px solid goldenrod;
                list-style: none;
                text-decoration: none;
                color: black;
                cursor: pointer;
                background-color: $light-blue;
            }
            .hidden{
                display: none;
                opacity: 0;
            }
        }
    }
    // 
    .content{
        margin: 0 auto;
        .main{
            display: grid;
            grid-template-columns: repeat(3, 0.5fr);
            justify-items: center;
            .item-container{
                text-align: center;
                font-size: medium;
                img{
                width: 150px;
                height: 150px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: #823b47;
        .content{
            margin: 0 auto;
            .main{
                display: grid;
                grid-template-columns: repeat(2, minmax(130px, 0.3fr));
                justify-content: center;
                margin: 0 auto;
                .item-container{
                    text-align: center;
                    font-weight: 200;
                    img{
                    width: 120px;
                    height: 120px;
                    }
                }
            }
        }
    }
}

@media (min-width: 750px) {
    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
}