* {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  height: auto;
}
body .nav {
  background-color: black;
}
body .nav .puma-logo {
  width: 6rem;
  margin: 0.5rem 1rem;
}
body .flex {
  display: flex;
}
body .flex .Sidebar {
  margin-left: 0.5rem;
}
body .flex .Sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .flex .Sidebar ul .Side-Item {
  padding: 0.8rem 1rem;
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: #EDF2F4;
}
body .flex .Sidebar ul .Side-Search {
  border: none;
  -webkit-appearance: none;
}
body .flex .Sidebar ul .Category-List {
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: all 2s;
  opacity: 1;
  background-color: #EDF2F4;
}
body .flex .Sidebar ul .CurrentCategory {
  padding: 0.8rem 1.5rem;
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: #8D99AE;
}
body .flex .Sidebar ul .hidden {
  display: none;
  opacity: 0;
}
body .flex .content {
  margin: 0 auto;
  margin-left: 10px;
}
body .flex .content .Banner {
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
body .flex .content .Banner .Banner-img__container {
  white-space: nowrap;
}
body .flex .content .Banner .Banner-img__container .Banner-img {
  width: 100%;
  height: 35%;
  min-height: 90px;
  display: inline-block;
}
body .flex .content .main {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 15px;
  justify-items: center;
  margin: 10px 0;
}
body .flex .content .main .item-container {
  text-align: center;
  text-decoration: none;
  color: #181818;
}
body .flex .content .main .item-container h1 {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
  width: 80px;
}
body .flex .content .main .item-container img {
  width: 150px;
  height: 150px;
}
body .itemDetail {
  width: 70vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
body .itemDetail .itemPrimaryInfoContainer {
  display: flex;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #2B2D42;
}
body .itemDetail .itemPrimaryInfoContainer .imageContainer {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
body .itemDetail .itemPrimaryInfoContainer .imageContainer .imageShow-Thumb {
  width: 35vw;
  min-width: 200px;
}
body .itemDetail .itemPrimaryInfoContainer .imageContainer .image-Collection {
  min-width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
}
body .itemDetail .itemPrimaryInfoContainer .imageContainer .image-Collection .imageShow-Secondary {
  align-self: center;
  justify-self: center;
  width: 10vw;
  min-width: 50px;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer {
  width: 100%;
  margin: 0 0 0 1.5rem;
  max-width: 350px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productInfo-title {
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid #8D99AE;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productPrice {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-evenly;
  border-bottom: 1px solid #8D99AE;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productPrice .strg {
  font-size: 14px;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productPrice span {
  font-weight: 300;
  font-size: 12px;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productPrice .productInfo-price {
  font-weight: 700;
  font-size: 25px;
  width: 50%;
  border-bottom: 1px solid #8D99AE;
  font-family: "Nunito", sans-serif;
  color: #4675B9;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productInfo-purchaseOptions {
  display: flex;
  justify-content: space-evenly;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productInfo-purchaseOptions select {
  height: 2.5rem;
  border: none;
  border-radius: none;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productInfo-purchaseOptions select option {
  background-color: #EDF2F4;
  font-size: 14px;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productInfo-purchaseOptions select::after option {
  border: 1px solid red;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productPurchase {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  margin: 1rem 0 0 0;
  background-color: #EDF2F4;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer .productPurchase button {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
body .itemDetail .itemPrimaryInfoContainer .productInfoContainer-mobile {
  display: none;
}
body .itemDetail .itemSecondaryInfoContainer {
  margin: 1.5rem 0;
}
body .itemDetail .itemSecondaryInfoContainer span {
  font-size: 12px;
  line-height: 25px;
}
body .itemDetail .ModalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(24, 24, 24, 0.9333333333);
}
body .itemDetail .ModalContainer .Modal-img {
  margin: 0 auto;
  width: 60%;
  height: 50%;
  max-width: 400px;
  max-height: 500px;
}
body .itemDetail .ModalContainer .Modal-closeBtn {
  position: absolute;
  top: 15%;
  right: 15%;
  border-radius: 50%;
  padding: 1rem;
  background-color: #f0354b;
  font-weight: 800;
  border: none;
  background-color: transparent;
  color: #EDF2F4;
}
body .itemDetail .ModalContainer .Modal-closeBtn .fa-xmark {
  font-size: 30px;
}
body .itemDetail .ModalContainer .Modal-closeBtn:hover, body .itemDetail .ModalContainer .Modal-closeBtn :active {
  cursor: pointer;
  color: #f0354b;
}
body .footerContainer {
  background-color: #181818;
  padding-top: 1rem;
  margin-bottom: 0;
}
body .footerContainer .footerContainer-box__top {
  height: 20vh;
  display: flex;
  width: 90%;
  margin: 0 auto;
}
body .footerContainer .footerContainer-box__top .footerLogo {
  height: 50%;
  margin: 1rem;
}
body .footerContainer .footerContainer-box__top .inbox-container {
  display: flex;
  flex-direction: column;
  margin: auto 0 1rem auto;
}
body .footerContainer .footerContainer-box__top .inbox-container span {
  margin: 0 0 0.5rem 0;
  color: #EDF2F4;
  font-size: 12px;
}
body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container {
  display: flex;
  border: 1px solid #EDF2F4;
  width: 280px;
}
body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container input {
  width: 100%;
  padding: 1rem;
  background-color: #181818;
  border: none;
  color: #EDF2F4;
}
body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container input:focus {
  outline: #4675B9 solid 1px;
}
body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container button {
  background-color: #181818;
  width: 50px;
  border: none;
  border-left: 0.5px solid #EDF2F4;
}
body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container button .fa-arrow-right-long {
  color: #EDF2F4;
  width: 100%;
  padding: 0;
  margin: 0;
}
body .footerContainer .footerContainer-box__mid {
  height: 45vh;
  display: flex;
  margin: 0 auto;
  width: 90%;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column {
  width: 25%;
  max-width: 400px;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column h4 {
  font-size: 13px;
  color: #EDF2F4;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column hr {
  border: 1px solid #EDF2F4;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column ul {
  padding: 0;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column ul li {
  list-style: none;
  margin: 10px 0;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #EDF2F4;
  opacity: 0.3;
}
body .footerContainer .footerContainer-box__mid .footer-mid_Column ul li a:hover {
  opacity: 1;
}
body .footerContainer .footerContainer-box__mid .secondColumn {
  margin-left: 2rem;
}
body .footerContainer .footerContainer-box__mid .thirdColumn {
  width: 300px;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  height: 40vh;
}
body .footerContainer .footerContainer-box__mid .thirdColumn ul a {
  text-decoration: none;
  color: #EDF2F4;
}
body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-facebook-square, body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-instagram,
body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-twitter, body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-youtube {
  color: #EDF2F4;
  height: 25px;
  margin: 1.2rem;
}
body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac {
  margin: auto 0 0 0;
}
body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 2rem 0 0 0;
}
body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul a:last-child {
  text-transform: uppercase;
  border-bottom: 2px solid #EDF2F4;
  font-size: 11px;
  margin: 0 1.5rem;
}
body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul a:last-child:hover {
  color: #EDF2F4;
  border-bottom: 2px solid #f0354b;
  transition: 0.2s ease-in;
}
body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul a img {
  height: 60px;
  border-radius: 15px;
  border: 0.5px solid #EDF2F4;
}
body .footerContainer .footerContainer-box__bot {
  height: 20vh;
}
body .footerContainer .footerContainer-box__bot div {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
}
body .footerContainer .footerContainer-box__bot div select {
  width: 200px;
  border: 1px solid #EDF2F4;
  background-color: transparent;
  color: #EDF2F4;
  padding: 1rem;
  text-transform: uppercase;
}
body .footerContainer .footerContainer-box__bot div span {
  color: #EDF2F4;
  font-size: 14px;
}

@media (max-width: 680px) {
  body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  body .nav {
    text-align: center;
    background-color: #181818;
  }
  body .nav .puma-logo {
    padding: 10px;
    height: 50px;
    width: 50px;
  }
  body .flex {
    display: block;
  }
  body .flex .Sidebar {
    margin: 0;
  }
  body .flex .Sidebar ul .Side-Item {
    border: none;
    border-bottom: 1px solid #2B2D42;
    text-align: center;
  }
  body .flex .Sidebar ul .Side-Item:last-child {
    border: none;
  }
  body .flex .Sidebar ul .Side-Item:hover, body .flex .Sidebar ul .Side-Item:active {
    transition: all 0.5s;
    background-color: #8D99AE;
  }
  body .flex .Sidebar ul .Category-List a {
    border: none;
  }
  body .flex .Sidebar ul .Category-List a:last-child {
    border-bottom: 1px solid #2B2D42;
  }
  body .flex .content {
    margin: 0 auto;
  }
  body .flex .content .main {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 0.3fr));
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
  }
  body .flex .content .main .item-container {
    text-align: center;
    margin: 10px 0;
  }
  body .flex .content .main .item-container h1 {
    margin: 0 auto;
    font-weight: 200;
    font-size: xx-small;
    width: 80px;
  }
  body .flex .content .main .item-container img {
    width: 5vw;
    height: 5vw;
    min-width: 100px;
    min-height: 100px;
  }
  body .itemDetail {
    border: 1px solid blue;
    width: 85vw;
    margin: 0 auto;
  }
  body .itemDetail .itemPrimaryInfoContainer {
    display: block;
  }
  body .itemDetail .itemPrimaryInfoContainer .imageContainer {
    margin: 0 auto;
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
  }
  body .itemDetail .itemPrimaryInfoContainer .imageContainer .image-Show-Thumb {
    width: 500px;
    height: 350px;
    min-width: 200px;
    border: 1px solid blue;
  }
  body .itemDetail .itemPrimaryInfoContainer .imageContainer .image-Collection {
    min-width: 200px;
    width: 60vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid rgb(173, 76, 76);
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
  }
  body .itemDetail .itemPrimaryInfoContainer .imageContainer .image-Collection .imageShow-Secondary {
    align-self: center;
    justify-self: center;
    border: 1px solid blue;
    width: 10vw;
    min-width: 50px;
  }
  body .itemDetail .itemPrimaryInfoContainer .productInfoContainer-mobile {
    display: block;
    border: 1px solid red;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 0;
    margin-left: auto;
  }
  body .itemDetail .itemPrimaryInfoContainer .productInfoContainer {
    display: none;
  }
  body .itemDetail .ModalContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 24, 24, 0.9333333333);
    text-align: center;
  }
  body .itemDetail .ModalContainer .Modal-img {
    margin: 0 auto;
    width: 70%;
    height: 40%;
    max-width: 400px;
    max-height: 350px;
  }
  body .itemDetail .ModalContainer .Modal-closeBtn {
    position: static;
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: #EDF2F4;
  }
  body .itemDetail .ModalContainer .Modal-closeBtn .fa-xmark {
    font-size: 30px;
  }
  body .itemDetail .ModalContainer .Modal-closeBtn:hover {
    cursor: pointer;
    color: #f0354b;
  }
  body .footerContainer {
    background-color: #181818;
    padding-top: 5rem;
    margin-bottom: 0;
    height: 100%;
  }
  body .footerContainer .footerContainer-box__top {
    height: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-bottom: 3px solid #EDF2F4;
  }
  body .footerContainer .footerContainer-box__top .footerLogo {
    display: none;
  }
  body .footerContainer .footerContainer-box__top .inbox-container span {
    color: #EDF2F4;
    font-size: 12px;
  }
  body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container {
    border: 1px solid #EDF2F4;
    width: 100%;
  }
  body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container input {
    padding: 1rem;
    background-color: #181818;
    border: none;
    color: #EDF2F4;
  }
  body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container input:focus {
    outline: #4675B9 solid 1px;
  }
  body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container button {
    background-color: #181818;
    width: 50px;
    border: none;
    border-left: 0.5px solid #EDF2F4;
  }
  body .footerContainer .footerContainer-box__top .inbox-container .emailInput-container button .fa-arrow-right-long {
    color: #EDF2F4;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  body .footerContainer .footerContainer-box__mid {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column {
    width: 100%;
    max-width: none;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column h4 {
    font-size: 13px;
    color: #EDF2F4;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column hr {
    border: 1px solid #EDF2F4;
    opacity: 0.8;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column ul {
    padding: 0;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column ul li {
    list-style: none;
    margin: 10px 0;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #EDF2F4;
    opacity: 0.3;
  }
  body .footerContainer .footerContainer-box__mid .footer-mid_Column ul li a:hover {
    opacity: 1;
  }
  body .footerContainer .footerContainer-box__mid .secondColumn {
    margin: 0;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn hr {
    display: none;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn ul a {
    text-decoration: none;
    color: #EDF2F4;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-facebook-square, body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-instagram,
body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-twitter, body .footerContainer .footerContainer-box__mid .thirdColumn ul a .fa-youtube {
    color: #EDF2F4;
    height: 25px;
    margin: 1.2rem;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac {
    margin: 0;
    text-align: center;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul a:last-child {
    text-transform: uppercase;
    border-bottom: 2px solid #EDF2F4;
    font-size: 11px;
    margin: 0 1.5rem;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul a:last-child:hover {
    color: #EDF2F4;
    border-bottom: 2px solid #f0354b;
    transition: 0.2s ease-in;
  }
  body .footerContainer .footerContainer-box__mid .thirdColumn .pumaTrac ul a img {
    height: 60px;
    border-radius: 15px;
    border: 0.5px solid #EDF2F4;
  }
  body .footerContainer .footerContainer-box__bot {
    height: 20vh;
  }
  body .footerContainer .footerContainer-box__bot div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .footerContainer .footerContainer-box__bot div select {
    width: 70%;
    border: 1px solid #EDF2F4;
    background-color: transparent;
    color: #EDF2F4;
    padding: 1rem;
    text-transform: uppercase;
  }
  body .footerContainer .footerContainer-box__bot div span {
    color: #EDF2F4;
    font-size: 14px;
    margin-top: 2rem;
  }
}
@media (min-width: 750px) {
  body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1000px) {
  body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */